.container {
    width: min-content;
    height: min-content;
    color: var(--blue);
    font-size: 40px;
    font-weight: 700;
    /* Q: how can i get the first element of type span ? */
    span:nth-of-type(2) {
        color: var(--purple-dark);
    }
}