.container {
    width: 100%;
    height: min-content;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 12px;
    }
    
    .container > button {
        width: 100%;
    }
}